/*
Rusty DeGarmo
Professor Sampson
Interactive Dev with JavaScript
29 October 2021
*/

p {
    font-family: Verdana, sans-serif;
    margin: 2%;
}

#first, #second, #third, #fourth {
    font-style: italic;
}

button {
    text-align: center;
    margin-left: 10%;
}